{% extends 'base.html' %}

{% block content %}


<!-- Main Section -->
<main class="formPage my-xl">
    <div class="container w-[90%] sm:w-[90%] md:w-[50%] lg:w-[30%] xl:w-[30%] 2xl:w-[30%] 3xl:w-[30%]">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'profile' %}"><i class="fa-solid fa-chevron-left"></i></a>
            <br>

            <form class="form" method="POST" action="">
                {% csrf_token %}

                <div>
                    <label for="{{ form.name.id_for_label }}">Name:</label>
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>
                
                <div>
                    <label for="{{ form.level.id_for_label }}">Level:</label>
                    {{ form.level }}
                    {{ form.level.errors }}
                </div>
                
                <div>
                    <label for="{{ form.bg_color.id_for_label }}">Background Color:</label>
                    {{ form.bg_color }}
                    {{ form.bg_color.errors }}
                </div>
                
                <div>
                    <label for="{{ form.fg_color.id_for_label }}">Foreground Color:</label>
                    {{ form.fg_color }}
                    {{ form.fg_color.errors }}
                </div>

                <div class="flex">
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />

                    {% if page == "update" %}
                        <a class="btn btn--sub btn--lg my-md bg-red-500 text-black"
                            
                            onclick="toggleModal('{{ skill.id }}', '{{ skill.name }}')"
                        >
                            Delete
                        </a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
    {% if page == "update" %}
        {% include 'users/delete_skill.html' %}
    {% endif %}
</main>



{% endblock %}