{% extends 'base.html' %}

{% block title %}
  Create Project
{% endblock %}

{% block content %}

  <div class="flex w-full justify-center items-center">
    <div class="container w-[50%]">
      {% if not update %}
        <form method="POST" class="p-5 bg-gray-300 m-4 shadow-lg shadow-indigo-500/40"
          action="{% url 'create-project' %}?next={% url 'profile' %}"
          enctype="multipart/form-data"
          >
          {% csrf_token %}
          {% for field in form %}
            <div class="form__field">
              <label for="formInput#text">{{field.label}}</label>
              {{field}}
            </div>
          {% endfor %}
          <div class="form__field">
            <label for="formInput#text">Tags</label>
            <input name="tags" type="text" id="id_tags" class="input input--text" placeholder="Tag1, Tag2, Tag3,..." />
          </div>
          <input type="submit" name="submit" class="mt-3 inline-flex text-white bg-indigo-500 border-0 py-1 px-2 focus:outline-none hover:bg-indigo-600 rounded">
        </form>
      {% else %}
        <form method="POST" class="p-5 bg-gray-300 m-4 shadow-lg shadow-indigo-500/40"
          action="{% url 'update-project' project.id %}?next={% url 'profile' %}"
          enctype="multipart/form-data"
          >
          {% csrf_token %}
          {% for field in form %}
          <div class="form__field">
            <label for="formInput#text">{{field.label}}</label>
            {{field}}
          </div>
        {% endfor %}
        <div class="form__field">
          <label for="formInput#text">Tags</label>
          <input name="tags" type="text" id="id_tags" class="input input--text" placeholder="Tag1, Tag2, Tag3,..."
            value="{% for tag in project.tags.all %}{{ tag.name }}, {% endfor %}"
          />
        </div>
        <input type="submit" name="submit" class="mt-3 inline-flex text-white bg-blue-500 border-0 py-1 px-2 focus:outline-none hover:bg-blue-600 rounded">
        </form>
      {% endif %}
    </div>
  </div>

{% endblock %}