<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/app.css' %}" />
  <script src="https://cdn.tailwindcss.com"></script>

  <script src="https://kit.fontawesome.com/d13c576e44.js" crossorigin="anonymous"></script>

</head>
<body class="bg-[#f3f5f2]">
  {%  include 'navbar.html' %}

  {% if messages %}
  {% for message in messages %}
      <div class="alert {% if message.tags %}alert--{{ message.tags }}{% endif %}" style="border: 0.5px solid rgba(85, 80, 80, 0.377);">
        <p class="alert__message">{{ message }}</p>
        <button class="alert__close">⨯</button>
      </div>
    {% endfor %}
  {% endif %}

  {% block content %}
  {% endblock %}

  <script>
    document.querySelectorAll('.alert__close').forEach((btn) => {
      btn.addEventListener('click', () => {
        btn.parentElement.style.display = 'none';
      });
    });

    document.querySelectorAll('.alert').forEach((alert) => {
      setTimeout(() => {
        alert.style.display = 'none';
      }, 3000);
    });

  </script>

</body>
</html>