<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/app.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
  <script src="https://cdn.tailwindcss.com"></script>

  <script src="https://kit.fontawesome.com/d13c576e44.js" crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@10.7.1/styles/default.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@10.7.1/styles/night-owl.min.css" />

  <script src="https://unpkg.com/@highlightjs/cdn-assets@10.7.1/highlight.min.js"></script>

</head>
<body class="bg-[#f3f5f2]">
  {%  include 'navbar.html' %}

  {% if messages %}
    <div class="alert">
        {% for message in messages %}
        <p{% if message.tags %} class="alert__message {{ message.tags }}"{% endif %}>{{ message }}</p>
        <button class="alert__close">⨯</button>
        {% endfor %}
    </div>
  {% endif %}



  {% block content %}
  {% endblock %}
  
  <script src="https://unpkg.com/@highlightjs/cdn-assets@10.7.1/highlight.min.js"></script>

  
  {%  include 'footer.html' %}

  <script>
    document.querySelectorAll('.alert__close').forEach((btn) => {
      btn.addEventListener('click', () => {
        btn.parentElement.style.display = 'none';
      });
    });

    document.querySelectorAll('.alert').forEach((alert) => {
      setTimeout(() => {
        alert.style.display = 'none';
      }, 3000);
    });

    // Invoke Functions Call on Document Loaded
    document.addEventListener('DOMContentLoaded', function () {
      document.querySelectorAll('pre').forEach((block) => {
        content = block.innerText;
        block.classList.add('codeblock');
        const regex = /~(.*?)~/g;
        let match;
        let extractedLanguages = [];
        while ((match = regex.exec(content)) !== null) {
          const code = match[1];
          extractedLanguages.push(code);
          content = content.replace(match[0], '');
        }
        content = '<code class="' + extractedLanguages.join(' ') + '" style="padding: 15px;" >' + content.trim() + '</code>';
        block.innerHTML = content.trim();
      });

      hljs.highlightAll();
    });


    let alertWrapper = document.querySelector('.alert')
    let alertClose = document.querySelector('.alert__close')

    if (alertWrapper) {
      alertClose.addEventListener('click', () =>
        alertWrapper.style.display = 'none'
      )
    }

  </script>
</body>
</html>