<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/app.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
  <script src="https://cdn.tailwindcss.com"></script>

  <script src="https://kit.fontawesome.com/d13c576e44.js" crossorigin="anonymous"></script>

</head>
<body class="bg-[#f3f5f2]">
  {%  include 'navbar.html' %}

  {% if messages %}
    <div class="alert">
        {% for message in messages %}
        <p{% if message.tags %} class="alert__message {{ message.tags }}"{% endif %}>{{ message }}</p>
        <button class="alert__close">⨯</button>
        {% endfor %}
    </div>
  {% endif %}



  {% block content %}
  {% endblock %}
  
  {%  include 'footer.html' %}  
</body>
</html>